{% extends "base.html" %}
{% block title %}SEP | Students{% endblock %}
{% block unique %}
 <!-- external css -->
 <link rel="stylesheet" href="../static/css/manage_students.css">
 <!-- datatable -->
 <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block content %}
 <!-- navigation -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-success" href="#"><span> <i class="fas fa-project-diagram"></i></span> SEP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center align-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link profile-link" href="/profile">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- content -->
  <div class="admin-content">
      <!-- profile -->

      <div class="profile">
          <div class="profile-details">
            <img src="/static/uploads/{{ current_user.filename }}" alt="" data-aos="zoom-in">
            <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#updateModal"><i class="fas fa-user-edit"></i></button>
            <h5 class="">{{ current_user.role }}</h5>
            <h3 class="text-light">{{ current_user.last_name + ', ' + current_user.first_name + ' '+current_user.middle_name }}</h3>
            <h4>{{ current_user.email }}</h4>
          </div>
          <button type="button" class="btn btn-danger logout-btn" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
      </div>
      <!-- dashboard -->
      <div class="manage-page">
            <h3><span><i class="fas fa-users"></i></span> Manage Students</h3>
            <div class="manage-page-content">
              <button type="button" class="btn btn-outline-success mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Student</button>
              <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>profile</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                        {% for user in users %}
                        {% if user.role != 'admin' %}
                        <tr>
                          {% if user.filename %}
                          <td><img src="/static/uploads/{{ user.filename }}" width='50' height='50' class='rounded-circle' alt=""></td>
                          {% else %}
                          <td><img src="/static/uploads/no-image.png" width='50' height='50' class='rounded-circle' alt=""></td>
                          {% endif %}
                          <td>{{ user.first_name }}</td>
                          <td>{{ user.middle_name }}</td>
                          <td>{{ user.last_name }}</td>
                          <td>{{ user.email }}</td>
                          <td><button type="button" class="btn btn-danger" onclick="setDelete({{ user.id }})" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                </tbody>
            </table>
            </div>
      </div>
      <!-- delete Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger">Delete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this student data?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" onclick="deleteUser()" class="btn btn-danger">Yes</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- logout Modal -->
      <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-secondary">Logout</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Logout now?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a type="button" href="/logout" class="btn btn-success">Yes</a>
            </div>
          </div>
        </div>
      </div>
     <!-- Update student Modal -->
     <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title text-success" id="updateModalLabel">Update Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/static/uploads/{{ current_user.filename }}" height='150' width='150' alt="">
            <h4 class="text-success m-2">{{ current_user.last_name + ', ' + current_user.first_name + ' ' + current_user.middle_name }}</h4>
            <p class="m-0">Role: {{ current_user.role }}</p>
            <p>Email: {{ current_user.email }}</p>
          </div>
          <div class="modal-body">
             <form action="" method="POST" enctype="multipart/form-data">
                  <p>Change your password</p>
                  {% if current_user.password_changed %}
                    <p class="text-primary">You have already changed your password</p>
                  {% else %}
                    <div class="form-group">
                      <label for=""><span><i class="fas fa-unlock"></i></span> Password <small class="text-secondary">(Note!, You can only change your password once.)</small></label>
                      <input type="password" class="form-control" name="new_password" id="new_password" aria-describedby="helpId" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for=""><span><i class="fas fa-unlock"></i></span> Confirm Password</label>
                      <input type="password" class="form-control" name="confirm_password" id="confirm_password" aria-describedby="helpId" placeholder="">
                    </div>
                  {% endif %}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

    <!-- Add student Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title text-success" id="exampleModalLabel">Add student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <form action="" method="POST" enctype="multipart/form-data">
               <div class="form-group">
                 <label for="image">User image</label>
                 <input id="image" class="form-control-file" type="file" name="image">
               </div>
                <div class="form-group">
                  <label for=""></label>
                  <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="email">
                  <small id="emailHelpId" class="form-text text-muted">The system will send the credentials including password to this email</small>
                </div>
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="helpId" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="">Middle Name</label>
                    <input type="text" class="form-control" name="middle_name" id="middle_name" aria-describedby="helpId" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="helpId" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="">
                  </div>
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">submit</button>
          </div>
        </form>
      </div>
  </div>

  </div>

    <script>
        // table
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
{% endblock %}