{% extends "base.html" %}
{% block title %}SEP | User{% endblock %}
{% block unique %}
 <!-- external css -->
 <link rel="stylesheet" href="../static/css/user.css">
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block content %}
 <!-- navigation -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-success" href="#"><span> <i class="fas fa-project-diagram"></i></span> SEP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center align-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link profile-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link profile-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!-- logout Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-secondary">Logout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Logout now?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a type="button" href="/logout" class="btn btn-success">Yes</a>
        </div>
      </div>
    </div>
  </div>
  <!-- content -->
  <div class="prediction-content">
    <!-- profile -->
    <div class="profile">
        <div class="profile-details">
            <img src="/static/uploads/{{ current_user.filename }}" alt="" data-aos="zoom-in">
            <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#updateModal"><i class="fas fa-user-edit"></i></button>
            <h5 class="">{{ current_user.role }}</h5>
            <h3 class="text-light">{{ current_user.last_name + ', ' + current_user.first_name + ' '+current_user.middle_name }}</h3>
            <h4>{{ current_user.email }}</h4>
        </div>
        <button type="button" class="btn btn-danger logout-btn" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
    </div>
    <!-- dashboard -->
    <div class="prediction_result">
      {% if result: %}
            <h3><span> <i class="fas fa-project-diagram"></i></span> Prediction Result</h3>
              <!-- counts -->
              <small class="text-secondary">Note! you can make prediction again after 30 days.</small>
              <div class="data-counts">
                  <div class="result" data-aos="zoom-in">
                      <div class="user-counts-details">
                          {% if result == 'Unemployed' %}
                          <h3><i class="fas fa-sad-tear"></i></h3>
                          {% else %}
                          <h3><i class="fas fa-smile"></i></h3>
                          {% endif %}
                          <h3>{{ result }}</h3>
                      </div>
                  </div>
                  <p class="text-primary">Our system predicted the probability that you're <b>{{ result }} </b> in IT/Tech industry 6 moths after your graduation</p>
                  {% if result == 'Unemployed' %}
                  <h3>Recommendation</h3>
                  <ul>
                    <li><i class="fas fa-arrow-right"></i> Focus more on studying programming</li>
                    <li><i class="fas fa-arrow-right"></i> Find internship offers</li>
                    <li><i class="fas fa-arrow-right"></i> Enroll on online courses related to programming</li>
                    <li><i class="fas fa-arrow-right"></i> Find mentor to expand your knowledge</li>
                  </ul>
                  {% endif %}
              </div>
          </div>
      {% else: %}
        <div class="no_prediction">
          <h1>No prediction made yet!<span><i class="fas fa-sad-tear"></i></span></h1>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#predictionModal">Start Predicting</button>
      </div>
      {% endif %}
    </div>
  
</div>

 <!-- Update student Modal -->
 <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title text-success" id="updateModalLabel">Update Profile</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/static/uploads/{{ current_user.filename }}" height='150' width='150' alt="">
        <h4 class="text-success m-2">{{ current_user.last_name + ', ' + current_user.first_name + ' ' + current_user.middle_name }}</h4>
        <p class="m-0">Role: {{ current_user.role }}</p>
        <p>Email: {{ current_user.email }}</p>
      </div>
      <div class="modal-body">
         <form action="" method="POST" enctype="multipart/form-data">
              <p>Change your password</p>
              {% if current_user.password_changed %}
                 <p class="text-primary">You have already changed your password</p>
              {% else %}
                <div class="form-group">
                  <label for=""><span><i class="fas fa-unlock"></i></span> Password <small class="text-secondary">(Note!, You can only change your password once.)</small></label>
                  <input type="password" class="form-control" name="new_password" id="new_password" aria-describedby="helpId" placeholder="">
                </div>
                <div class="form-group">
                  <label for=""><span><i class="fas fa-unlock"></i></span> Confirm Password</label>
                  <input type="password" class="form-control" name="confirm_password" id="confirm_password" aria-describedby="helpId" placeholder="">
                </div>
              {% endif %}
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">submit</button>
      </div>
    </form>
  </div>
</div>
</div>

<!-- Prediction Modal -->
<div class="modal fade" id="predictionModal" tabindex="-1" aria-labelledby="predictionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLabel">Question Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="POST">

              <br>
              <div class="row">
                <div class="col">
                  <label for="age">Age:</label>
                  <input type="number" class="form-control" name="age" id="age" placeholder="" aria-label="Age">
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="course" class="text-secondary">Course/Major: </label>
                    <br>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="course" id="course" value="0">BS Computer Science (BSCS)
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="course" id="course" value="1">BS Information Technology (BSIT)
                          </label>
                        </div>
                  </div>
                </div>
              </div>

              <!-- fam question -->
              <br>
              <div class="row">
                <div class="col">
                      <label for="academic_awards" class="text-secondary">Academic award received: </label>
                      <br>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="academic_awards" id="academic_awards" value="4">Suma cum laude
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="academic_awards" id="academic_awards" value="2">Magna cum laude
                          </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="academic_awards" id="academic_awards" value="5">Cum laude
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="academic_awards" id="academic_awards" value="1">Dean's / Director's lister
                      </label>
                  </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="academic_awards" id="academic_awards" value="3">None
                      </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="epic" class="text-secondary">Enrolled on Epic/JEEP</label>
                    <br>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="epic" id="epic" value="1">Yes
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="epic" id="epic" value="0">No
                          </label>
                        </div>
                  </div>
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-6">
                  <label for="num_trainings">Number of trainings obtained in School:</label>
                  <input type="number" class="form-control" name="num_trainings" id="num_trainings" placeholder="" aria-label="num_trainings">
                </div>
              </div>
              <br>
              <hr>
              <h6 class="text-success">Grades: </h6>

              <br>
              <div class="row">
                <div class="col-6">
                  <label for="s1">Networks and Communication: </label>
                  <input type="number" step="0.01" class="form-control" name="s1" id="s1" placeholder="" aria-label="s1">
                </div>
                <div class="col-6">
                  <label for="s2">Advanced Database system:</label>
                  <input type="number" step="0.01" class="form-control" name="s2" id="s2" placeholder="" aria-label="s2">
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-6">
                  <label for="s3">Data Structures and Algorithms:</label>
                  <input type="number" step="0.01" class="form-control" name="s3" id="s3" placeholder="" aria-label="s3">
                </div>
                <div class="col-6">
                  <label for="s4">Thesis/Capstone:</label>
                  <input type="number" step="0.01" class="form-control" name="s4" id="s4" placeholder="" aria-label="s4">
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-6">
                  <label for="s5">System analysis/Software Engineering 1:</label>
                  <input type="number" step="0.01" class="form-control" name="s5" id="s5" placeholder="" aria-label="s5">
                </div>
                <div class="col-6">
                  <label for="s6">Human Computer Interaction:</label>
                  <input type="number" step="0.01" class="form-control" name="s6" id="s6" placeholder="" aria-label="s6">
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-6">
                  <label for="s7">Object Oriented Programming:</label>
                  <input type="number" step="0.01" class="form-control" name="s7" id="s7" placeholder="" aria-label="s7">
                </div>
                <div class="col-6">
                  <label for="s8">Software Engineering 2:</label>
                  <input type="number" step="0.01" class="form-control" name="s8" id="s8" placeholder="" aria-label="s8">
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-6">
                  <label for="s9">Introduction to Computing:</label>
                  <input type="number" step="0.01" class="form-control" name="s9" id="s9" placeholder="" aria-label="s9">
                </div>
                <div class="col-6">
                  <label for="s10">Computer Programming:</label>
                  <input type="number" step="0.01" class="form-control" name="s10" id="s10" placeholder="" aria-label="s10">
                </div>
              </div>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">submit</button>
        </div>
      </form>
    </div>

       
    
{% endblock %}